ul {
    list-style-type: none;
    float: left;
    width: 30rem;
    padding-top: 1rem;
}

li {
    float: left;
    margin-left: 3rem;
}

.searchInput {
    height: 3rem;
    padding-left: 20px;
    width: 30rem;
    border: 1px solid grey;
    border-radius: 5px;
    float: right;
}

.loginButton {
    margin-left: 2rem;
    height: 3rem;
    width: 5rem;
    background-color: rgb(146, 146, 146);
    color: black;
    font-size: 18px;
    border: 1px solid gray;

    
}

.MenuContainer {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid grey;
    padding: 2rem 2rem 2rem 2rem;
}

.menuLi {
    width: 40px;
    font-size: 12px;
    text-align: center;
}

.menuLink img {
    width: 40px;
    height: 40px;
    border: solid rgb(255, 255, 255) 1px;
    background-color: rgba(39, 65, 71, 0.582);
    border-radius: 10%;
    float: center;
}