ul {
    list-style-type: none;
    float: left;
    width: 30rem;
}

li {
    float: left;
    margin-left: 3rem;
}

.searchInput {
    height: 3rem;
    padding-left: 20px;
    width: 30rem;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    float: right;
}

.loginButton {
    margin-left: 2rem;
    height: 3rem;
    width: 5rem;
    background-color: rgb(146, 146, 146);
    color: black;
    font-size: 18px;
    border: 1px solid gray;

    
}

.MenuContainer {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid grey;
    padding: 1rem 1rem 1rem 1rem;
}

.menuLi {
    width: 60px;
    font-size: 12px;
    text-align: center;
    box-shadow: rgba(58, 58, 58, 0.596) 2px 2px 3px 3px;
    border-radius: 10%;
    padding: 3px 3px 3px 3px;
}

.menuLink img {
    width: 30px;
    height: 30px;
    float: center;
}

.searchIcon {
    width: 3rem;
    height: 3rem;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
}